<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <mongo:mongo host="127.0.0.1" port="27017" />
    <mongo:db-factory dbname="travelnetworkdb" />

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    </bean>

    <!--<bean id="userService" class="com.travelit.secure.service.mongo.services.UserMongoService">-->
    <!--</bean>-->

    <!--<bean id="placeService" class="com.travelit.secure.service.mongo.services.PlaceMongoService">-->
    <!--</bean>-->

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000" />
        <property name="uploadTempDir" ref="uploadDirResource" />
    </bean>

    <bean id="uploadDirResource"
          class="org.springframework.core.io.FileSystemResource">
        <constructor-arg>
            <value>/</value>
        </constructor-arg>
    </bean>

    <!--<bean class="com.travelit.secure.controller.PlacesController">-->
        <!--&lt;!&ndash;<property name="validator">&ndash;&gt;-->
            <!--&lt;!&ndash;<bean class="com.travelit.secure.validation.SavePlaceValidator"/>&ndash;&gt;-->
        <!--&lt;!&ndash;</property>&ndash;&gt;-->
    <!--</bean>-->

    <bean id="userPlaceService" class="com.travelit.secure.search.UserPlaces"/>
    <bean id="placeAboutValidator" class="com.travelit.secure.validation.PlaceAboutValidator"/>
    <bean id="commonValidation" class="com.travelit.secure.validation.CommonValidation" />
    <bean id="optimizeImport" class="com.travelit.secure.algorithms.prefer.OptimizeImport"/>
    <bean id="userPrefer" class="com.travelit.secure.search.UserPrefer"/>
    <bean id="userPlaces" class="com.travelit.secure.search.UserPlaces"/>
    <bean id="travelSalesmanProblem" class="com.travelit.secure.algorithms.travelsalesman.TravelSalesmanProblem"/>

</beans>