/*YOUR CUSTOM STYLES*/

.mb30>li img {
    height: 75px;
    margin-bottom: 8px;
    opacity: 0.5;
    width: 75px;
}

li a {
    text-align: center;
}

/*.main-header-search .form-control {*/
/*background: url("images/Search-icon.png") no-repeat 40px 40px;*/
/*}*/

.main-header-search {
    color: #fff;
}

.top-user-area-lang i {
    font-size: 8px;
    margin-left: 4px;
}

.row-wrap .col-md-4 {
    height: 200px;
}

.thumb, .thumb * {
    height: 100%;
}

.add_route a{
    width: 100%;
    padding-top: 28%;
    font-size: 26px;
    /*background-color: rgba(87,87,87,0.9);*/
}

.add_route a:hover {
    /*background-color: rgba(25, 12, 12, 0.86);*/
}

#map-canvas {
    width: 100% !important;
    height: 560px !important;
}


::-webkit-input-placeholder {color: #E4E1E1;}
::-moz-placeholder          {color:#E4E1E1;}/* Firefox 19+ */
:-moz-placeholder           {color:#E4E1E1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#E4E1E1;}


.input_data {
    margin: auto;
    width: 36%;
    height: 70%;
    position: relative;
    float: left;
    top:16%;
}

input {
    text-align: center;
    font-size: 1em;
    box-shadow: none;
    /*height: 30px;*/
    /*width: 100%;*/
    border: none;
    border-left: 7px solid rgb(236, 179, 0);
    border-right: 7px solid rgb(236,170,0);
    /*border-bottom: 1px solid rgb(140, 139, 139);*/
    background-color: transparent;
    color: white;

    margin-top: 5%;
}

input:focus {
    outline: none;
    /*color: white;*/
}

input[type='submit']{
    /*border: 1px solid #A92A27;*/
    /*background-color: #DD423E;*/
    border: 2px solid rgb(236,170,0);
    color: rgb(236,170,0);
    text-align: center;
    font-size: 1em;
    /*width: 30%;*/
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

#main-footer .btn-primary {
    width: 30%;
}

.photo img {
    width: 30%;

}

.description input {
    width: 40%;
    color: #000;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #ECAA00 !important;
    border-color: #EFAE07 !important;
}

.add-own-place input[type="submit"] {
    color: #ffffff;
    width: 80px;
}

.add-place {
    /*border: none !important;*/
    /*background: none !important;*/
    color: #000 !important;
    font-size: 36px !important;
}

.add-place:focus {
    border: none !important;
    outline: none !important;
    background-color: #ECAA00;
}

.modal-title {
    font-size: 26px;
    color: #ECAA00;
    text-transform: uppercase;
}

.modal-title:focus {
    color: #ECAA00 !important;
}

#pac-input {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    width: 30%;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: #3c3f41;
}

.modal .form-control {
    width: 40%;
}

.logo img {
    width: 40%;
}

/*.confidence {*/
/*margin: 0px;*/
/*padding: 0;*/
/*}*/

.confidence checkbox {
    margin-top: -20px;
}

.places {
    border: 1px solid grey;
    width: 100%;
    height: 100px;
}

.selected_place_cont {
    height: 100%;
}

.selected-place {
    width: 100%;
}

.selected-place .description {
    margin: 10%;
    width: 50%;
    color:#fff;
}

.selected-place .description .additional {
    opacity: 0.5;
}
.selected-place  button {
    background-color: rgb(236, 179, 0);
    width: 20%;
    height: 50px;
}

.selected-place .description #name{
    font-size: 22px;
    color: rgb(236, 179, 0);
}

.selected-place img {
    width: 100%;
    z-index: -2;
    position: fixed;
    /*opacity: 0.7;*/
}
.salesman{
    background-color: #ECB300;
    border: none;
    text-align: center;
    padding: 3%;
    width: 100px;
    margin: 3%;
    height: 30px;
}